# Uncomment the following lines by removing the '#'
# and adjust the values to fit your needs.

MODE=prod
DEBUG=False

PORT_NR=8020
# CLOUD_NAME=
# CLOUD_API_KEY=
# CLOUD_API_SECRET=

# Datenbank-Konfiguration
DB_NAME=trucksigns_db
DB_USER=trucksigns_user
DB_PASSWORD=supertrucksignsuser!
DB_HOST=db
DB_PORT=5432

# =========================
# Django
# =========================
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpassword
DJANGO_SECRET_KEY=0SA4Ii6AmJ4r9YlKxSvE4Ojt9qHuRoRv9k2Nm-hgQVnZECR8LRlLnfWyBszVGssONz8

# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=

# Erlaubte Hosts für die Django-Anwendung
ALLOWED_HOSTS=localhost,127.0.0.1,YOUR_IP,tsa-backend
CSRF_TRUSTED_ORIGINS=http://localhost:8020,http://127.0.0.1:8020,http://YOUR_IP:8020,https://YOUR_IP:8020
